layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Dev" focus=true {
        pane split_direction="vertical" {
            pane name="Editor" size="60%" focus=true
            pane split_direction="horizontal" size="40%" {
                pane name="REPL" size="50%"
                pane name="Terminal" size="50%"
            }
        }
    }

    tab name="Git" {
        pane name="Git" command="lazygit"
    }

    tab name="Docker" {
        pane name="Docker" command="lazydocker"
    }
}
